<h1> <%= @portfolio.name%> </h1>
<p> <%= link_to "New Portfolio", new_portfolio_path, class: "nav-link" %> </p>
<p> <%= link_to "Update name portfolio", edit_portfolio_path(@portfolio)%> </p>



<%= button_to "Delete the Declaration", { action: "destroy", id: @portfolio.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>