<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="flex-center mt-4" data-controller="other">
  <div class="other">
    <span data-target="other.count"><%= @restaurant_count %></span>
  </div>

  <button class="btn btn-outline-secondary" data-action="click->other#refresh">Refresh counter</button>
</div>


